# Journal 2018.11.23
## Exploring Pandas Styling
This explores the capabilities in Pandas to Styling.  The main goals are:  
* become more familiar with styling feature in pandas  
* be able to style specific cells based of criteria  
* be able to style whole rows based off criteria  
* be able to apply new styles to tables to make them better for end users  

For this setup, we will make random dataframe to do our sampling on.

In [31]:
import pandas as pd

d = {'name': ['Bob', 'Fred', 'Tony'],
    'age': [31,1,25],
    'birth_location': ['IA', 'WA', 'AK']}

df = pd.DataFrame(d)

In [32]:
df

   name  age birth_location
0   Bob   31             IA
1  Fred    1             WA
2  Tony   25             AK

# Coloring Specific Cells
This could be used in many cases to highlight specific values in a table,  The two cases we want to look at are highlighting cells from specific state or if person is below certain age.  

To do this, the examples show a new function needs to be specified then this will be called on the dataframe with apply or applymap.  We will make function to identify specific ages.

In [33]:
def highlight_young_people(s):
    """highlights people under 25 years old"""
    return ['color: red' if v<=25 else '' for v in s]

In [34]:
df.style.apply(highlight_young_people, subset=['age'])

This worked!  Now lets try again but on states.  We will try to bold ones which are in a specific list.

In [35]:
def bold_important_states(s):
    """highlights people under 25 years old"""
    return ['color: red' if v in ['WA', 'IA'] else '' for v in s]

In [36]:
df.style.apply(bold_important_states, subset=['birth_location'])

I don't know bold styling but we can figure this out later.  Next, lets apply both these.

In [39]:
df.style.\
    apply(bold_important_states, subset=['birth_location']).\
    apply(highlight_young_people, subset=['age'])

This shows we can easily chain these together.

# Highlight Rows based off value. 
Now we want to explore highlighting rows based off values.  The use case is to provide much easier formatting for users to see for specific values. In this case, we really want to identify who is from Iowa so we can ask them for sweet corn.  
In looking at questions aroung this [2], it looks like we do similiar function as before except function will have to look at any member of the row.

In [49]:
def iowa_rows(s,column):
    is_max = pd.Series(data=False, index=s.index)
    is_max[column] = s.loc[column].isin(['IA', 'WA'])
    return ['color: grey; font-weight: bold' if is_max.any() else '' for v in is_max]


df.style.apply(iowa_rows,column=['birth_location'], axis=1)

# Playing with Bar Charts
We found in documenation you can do in table bar charts.  This is pretty cool and we may want to try this.

In [37]:
df.style.bar(subset=['age'], color='#d65f5f')

# Conclusion
The pandas library offers some very nice styling features to help make pandas reports much better.

# References  
[1] Official Documentation on Styling (https://pandas.pydata.org/pandas-docs/stable/style.html)  
[2] Stackoverflow for highlighting row (https://stackoverflow.com/questions/43596579/how-to-use-python-pandas-stylers-for-coloring-an-entire-row-based-on-a-given-col)